  <section id="about" class="bg-dark">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-justify">
                <h2 class="section-heading text-center">О школе</h2>
                <hr class="primary">
		<p>Школа эмпирического правоведения проводится уже восьмой год и собирает участников со всей страны. Главная цель Школы – научить участников думать в парадигме эмпирических исследований права и самостоятельно проводить исследования, начиная от постановки исследовательского вопроса и заканчивая написанием научной статьи или аналитической записки.</p>
		<p>Школа рассчитана на широкий круг людей, заинтересованных в исследованиях права и правоприменения в России методами социальных наук: социологов, юристов, экономистов, политологов, антропологов и специалистов по анализу данных. </p>
		<p>В течение Школы мы стараемся уделять максимум времени реальной исследовательской работе. На конкретных задачах мы будем заниматься поиском, критической деконструкцией, сбором и анализом данных, работой с существующими исследованиями, а также расскажем об организации и результатах исследований Института и о том, как писать академические и прикладные тексты (такие, как научные статьи, колонки и policy memo). Результатом 5 дней работы на Школе станут реальные исследования и тексты, созданные участниками при поддержке сотрудников Института.</p>
		<p>Участие в Школе бесплатное при условии прохождения конкурса. Мы оплачиваем транспорт до места проведения Школы и обратно, проживание и питание во время Школы.</p>
            </div>
        </div>
    </div>
</section>
