<section id="application">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-justify">
                <h2 class="section-heading text-center">Подать заявку</h2>
                <hr class="primary">
<p>Жёстких ограничений для тех, кто может участвовать, нет. Однако мы отдадим предпочтение тем, кто на момент Школы учится не менее, чем на 3 курсе бакалавриата, тем, кто не имеет защищённой кандидатской диссертации и тем, кто закончил бакалавриат не более 7 лет назад.</p>
<p>Чтобы подать заявку, нужно выполнить отборочное задание и заполнить форму.</p>
<p>Отборочное задание — это два развёрнутых ответа (каждый объёмом до 1000 слов) на любые два вопроса-задачи из представленных ниже. Иными словами, вы должны выбрать любые две задачи из списка, и на каждую из них дать обоснованный ответ-решение. Должно получиться два ответа, каждый объёмом до 1000 слов. Эти ответы нужно поместить в <b>один</b> документ формата Word или PDF. Отборочные задания и советы по их решению представлены в разделе ниже.</p>
<p>После того, как вы сделали задание, нужно заполнить <a href="https://forms.gle/CJuGVZGGG9uhUkGx7">эту форму</a> и выслать документ с решениями отборочного задания по адресу <i>aknorre@eu.spb.ru</i> с темой "Заявка на осеннюю школу". <b>Без решения отборочного задания заявка не будет рассматриваться.</b></p>
<p>Приём заявок на школу будет прекращен 1 декабря 2021 года в 23:59 по Московскому времени.</p>

<!--<strike><b style="color:red;">1 июня</b></strike> <b style="color:red;">16 июня</b> 2020 года в 23:59 по Московскому времени.</p>
-->
<p>Отбор участников Школы будет произведен до 15 декабря 2021 года. В случае положительного решения комиссии Институт обеспечит победителям бесплатное участие в Школе, оплатит проживание и проезд до Санкт-Петербурга и обратно.</p>
<!--<p>Если вам необходимо объяснить кому-то в вузе, куда именно вы уезжаете, можно использовать для этого <a href="/IRL_school_2020_infoletter.pdf">информационное письмо</a>.</p>-->

            </div>
        </div>
    </div>
    </div>
</section>



