<section id="faq">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-justify">
                <h2 class="section-heading text-center">Вопросы и ответы</h2>
                <hr class="primary">

<p>Q: А где будет проходить Школа?<br>
A: Обычно мы проводим школу в пригороде Санкт-Петербурга. Последние несколько лет это была гостиница <a href="http://www.new-peterhof.com/">«Новый Петергоф»</a> в Петергофе. Участники школы проживают в 2- и 3-местных номерах, оснащенных всем необходимым (в том числе Wi-Fi). Мы не знаем, как получится в этом году, и оставляем за собой возможность изменения места, но не стандарта размещения в гостинице.</p>
<p>Q: Что будет со школой, если будут строгие карантинные меры?<br>
А: Скорее всего, мы перенесем ее на более позднее время, но вряд ли отменим. </p>
<p>Q: Я отправил незаконченную анкету. Что теперь делать?<br>
A: Ничего страшного, просто заполните и отправьте анкету еще раз.</p>
<p>Q: Я не из России. Могу ли я участвовать в школе?<br>
A: Да, рабочий язык школы - русский, участвовать могут граждане других стран, если они владеют русским.</p>
<p>Q: Оплачивается ли дорога до Петербурга и обратно, если я прошёл конкурс?<br>
A: Да, оплачивается из любой точки страны. Наш администратор связывается с вами и обговаривает детали покупки билета. Не забудьте посадочный купон или корешок авиабилета, они нужны для отчётности.</p>
<p>Q: Можно ли приехать на несколько дней раньше или уехать позже?<br>
A: Нет, это невозможно. Проезд оплачивается только на дни мероприятия, плюс 1 день на дорогу.</p>
<p>Q: А оплачивается ли проживание и питание?<br>
A: Да, при условии, что вы прошли конкурс.</p>
<p>Q: Можно ли приехать за свой счёт, если я не прошёл по конкурсу?<br>
A: Такая возможность есть. Если вы не прошли конкурс, но хотите приехать за свой счёт, напишите нам об этом после объявления результатов конкурса.<p>


            </div>
        </div>
    </div>
</section>

