
  <section id="feedback" class="bg-dark">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-justify">
                <h2 class="section-heading text-center">Отзывы о прошлых школах</h2>
                <hr class="primary">
				
                <div class="comment">                
                        <div class="comment-photo"><img src="/img/comments/nemova.jpg"></div>
                        <div><p><cite>Мария Немова, адвокат, аспирант факультета права НИУ ВШЭ: </cite></p>
                            <blockquote><p>За неделю, проведенную на школе, я узнала о дизайне исследования, возможностях использования и интерпретирования данных в праве, «лайфхаках» поиска данных и литературы, оформлении библиографии больше, чем об этом рассказывали преподаватели на курсах бакалавриата, магистратуры и аспирантуры.</p></blockquote>
                        </div>
                    </div>
                
				<div class="comment"> 				
                        <div class="comment-photo"><img src="/img/comments/nikonov.jpg"></div>
                        <div><p><cite>Максим Никонов, кандидат юридических наук,  адвокат: </cite></p>
                            <blockquote>
<p>Знания, которые мало где в России можно получить, замечательный коллектив лекторов, зашкаливающий градус интеллектуального удовольствия, общение с коллегами из разных регионов и всё это в Питере.</p>
</blockquote>
                        </div>
                    </div>


                <div class="comment">                
                        <div class="comment-photo"><img src="/img/comments/pronin.jpg"></div>
                        <div><p><cite>Анатолий Пронин, преподаватель-юрист, Воронежский государственный университет: </cite></p>
                            <blockquote><p>Самые яркие впечатления от самого мероприятия — вихрь новых идей, сильнейшее желание в авральном порядке прочитать кипу незнакомой, но манящей литературы и бесконечный восторг от дружелюбной, но в то же время академичной атмосферы.</p></blockquote>
                        </div>
                    </div>

                <div class="comment">                
                        <div class="comment-photo"><img src="/img/comments/baryshnikov.jpg"></div>
                        <div><p><cite>Павел Барышников, аспирант кафедры гражданского процесса Саратовской государственной юридической академии:</cite></p>
                            <blockquote><p>...школа позволяет встать на долгую дорогу научного поиска. Обучение в ней вдохновило меня на написание статьи и обогатило знаниями, которые позволили принять участие в масштабном эмпирическом исследовании.
Подводя итог, отмечу, что школа преследовала разные цели, но мне запомнилась вот эта: создать сообщество экспертов, занимающихся эмпирическими исследованиями права. Такое сообщество создано, и оно развивается. Присоединяйтесь и побывайте на «на той стороне права»!</p></blockquote>
                        </div>
                    </div>

                <div class="comment">                
                        <div class="comment-photo"><img src="/img/comments/kryazhkova.jpg"></div>
                        <div><p><cite>Ольга Кряжкова, кандидат юридических наук, доцент кафедры конституционного права Российского государственного университета правосудия: </cite></p>
                            <blockquote><p>...Впоследствии я приняла участие в подготовке научной статьи о том, как Конституционный Суд Российской Федерации излагает свои решения. Приобретённые знания сильно повлияли на её содержание. После того как она была опубликована, мой наставник и учитель, известный правовед, сказал: «Вот это - настоящая наука». Пожалуй, лучшего отзыва в моей исследовательской практике я не получала! Конечно же, останавливаться на достигнутом я не намереваюсь.<br>
Организаторам школы и ведущим удалось не только научить нас чему-то полезному, но и создать удивительно тёплую атмосферу, за что говорю отдельное спасибо!</p></blockquote>
                        </div>
                    </div>

                <div class="comment">                
                        <div class="comment-photo"><img src="/img/comments/khalikova.jpg"></div>
                        <div><p><cite>Юлия Халикова, магистрант, факультет социологии, НИУ ВШЭ: </cite></p>
                            <blockquote><p>Я приняла участие в школе ИПП, будучи студенткой пятого курса факультета права НИУ ВШЭ. <...> Участие в школе подтолкнуло меня к желанию и дальше изучать то, как применяется право. Сейчас я учусь в магистратуре Вышки на факультете социологии и планирую писать магистерскую работу, так или иначе связанную с правоприменением в современной России. Поэтому я хотела бы порекомендовать участие в школе студентам с совершенно различным бэкграундом - юристам, даже не интересующимся социологией, будет полезно расширить свой кругозор и увидеть, как действительно применяется право в различных ситуациях, а представителям социальных и экономических наук – узнать, как возможно соединить эти две сферы.</p></blockquote>
                        </div>
                    </div>

                <div class="comment">                
                        <div class="comment-photo"><img src="/img/comments/dudko.jpg"></div>
                        <div><p><cite>Ирина Дудко, кандидат юридических наук, доцент, Российский государственный университет правосудия: </cite></p>
                            <blockquote><p>Школа существенно изменила мои представления о возможностях применения эмпирических методов в праве. Позволила по-другому взглянуть на правоведение, осознать практически неиспользуемые российскими учеными  возможности исследования...</p></blockquote>
                        </div>
                    </div>
					
<p>Со всеми отзывами о предыдущих Школах можно ознакомиться <a href="/comments.pdf">здесь</a>.</p>

            </div>
        </div>
    </div>
    </div>
</section>
