<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Междисциплинарная школа эмпирико-правовых исследований">
    <meta name="author" content="Институт проблем правоприменения при ЕУСПб">
	<meta property="og:type" content="website">
    <meta property="og:image" content="http://empravo.ru/img/2022/facebook_header.png"/>
    <meta property="og:image:width" content="1321" />
    <meta property="og:image:height" content="761" />
	<meta property="og:title" content="Эмпирическое правоведение: от идеи до статьи за 5 дней" />
	<meta property="og:description" content="Междисциплинарная школа эмпирико-правовых исследований" />
	<meta property="og:url" content="https://empravo.ru" />
	<meta property="og:locale" content="ru_RU" />

    <title>Школа эмпирического правоведения</title>
    <base target="_blank"> 
    <!-- Bootstrap Core CSS removed .min ! -->

    <link rel="stylesheet" href="css/bootstrap.min.css" type="text/css">
	<link rel="shortcut icon" type="image/x-icon" href="{{ "/favicon.ico" | prepend: site.baseurl }}" >

    <!-- Custom Fonts -->
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>

    <!-- Plugin CSS -->
    <link rel="stylesheet" href="css/animate.min.css" type="text/css">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="css/main.css" type="text/css">

	<script src="js/likely.js"></script>
	<link rel="stylesheet" href="css/likely.css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>
