<header>
    <div class="header-content">
        <div class="header-content-inner">
		<br>
            <h2>Восьмая междисциплинарная школа</h2>
            <h2>Института проблем правоприменения</h2>
            <h1>Эмпирическое правоведение: от идеи до статьи за 5 дней</h1>
            <h2>Конец января 2022 @ Санкт-Петербург</h2>
		<br>
            <!--<a href="#application" class="btn btn-primary btn-xl page-scroll">Подать заявку</a>-->
			<a href="#application" class="btn btn-primary btn-xl page-scroll">Подать заявку</a>
        </div>
    </div>
</header>
