<section id="task" class="bg-dark">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-justify">
                <h2 class="section-heading text-center">Отборочное задание</h2>
                <hr class="primary">
                
                
<p><b>Задача 1: арбитражные суды.</b>
Российские арбитражные суды одни из самых быстрых в мире (<a href="https://www.oecd.org/economy/growth/FINAL Civil Justice Policy Paper.pdf">Palumbo et al., 2013</a>) , а государственная пошлина почти в два раза ниже, чем в развитых странах (<a href="https://doi.org/10.1515/gj-2020-0019">Kashanin and Churakov, 2020</a>, <a href="https://www.vedomosti.ru/society/articles/2021/05/26/871527-rossiiskie-sudi">Кашанин и Малов, 2021</a>). Если стороне недорого обращаться в суд, то разумно ожидать большого потока дел и долгих сроков рассмотрения. Опишите, почему и как российским арбитражным судам удается быть и быстрыми, и дешевыми (с т.з. литигационных издержек)?
<br>

<p><b>Задача 2: география неисполнения.</b> В России некоторые преступления против несовершеннолетних различаются географически. Так, например, происходит с преступлениями по ст. 156 УК РФ «Неисполнение обязанностей по воспитанию несовершеннолетнего». В 2019 году всего в стране было зарегистрировано чуть меньше 1,5 тысячи таких преступлений (1491). При этом в некоторых регионах (Оренбургская область, Республика Башкортостан) регистрируется порядка 100 преступлений в год, а в других ни одного. Для сравнения, в Москве зарегистрировали 14 таких преступлений, в Санкт-Петербурге – 22. Ниже представлены два интерактивных графика с абсолютным и относительным (на 1000 несовершеннолетних, проживающих в регионе) числом зарегистрированных преступлений по ст. 156 УК РФ в 2019 году. Статичные версии этих графиков доступны <a href='/img/2022/task2-1.png'>здесь</a> и <a href='/img/2022/task2-2.png'>здесь</a>.

Возможно, Вам также будет интересно, что регионы-лидеры по этому преступлению были и в числе лидеров по нему же и в 2013 году – тогда в Башкортостане было зарегистрировано 352 преступлений (и все выявлены СК – что совершенно не типично для остальных регионов), а в Оренбургской области – 257 (все выявлены МВД).  

Объясните обозначенные географические различия. 

<p>
</p>
<center>
<!--<a href="/img/2022/task2-1.png"><img src="/img/2022/task2-1.png" vspace="20" style='width:98%;' border="0"></a>
<a href="/img/2022/task2-2.png"><img src="/img/2022/task2-2.png" vspace="20" style='width:98%;' border="0"></a>-->

<iframe title="Регистрация преступлений по ст. 156 УК РФ в 2019 году " aria-label="Map" id="datawrapper-chart-Zxy3z" src="https://datawrapper.dwcdn.net/Zxy3z/1/" scrolling="no" frameborder="0" style="width: 0; min-width: 98% !important; border: none;background-color: white;" height="571"></iframe><script type="text/javascript">!function(){"use strict";window.addEventListener("message",(function(e){if(void 0!==e.data["datawrapper-height"]){var t=document.querySelectorAll("iframe");for(var a in e.data["datawrapper-height"])for(var r=0;r<t.length;r++){if(t[r].contentWindow===e.source)t[r].style.height=e.data["datawrapper-height"][a]+"px"}}}))}();
</script>


<iframe title="Число зарегистрированных преступлений по ст. 156 УК РФ в 2019 году " aria-label="Map" id="datawrapper-chart-QXedb" src="https://datawrapper.dwcdn.net/QXedb/3/" scrolling="no" frameborder="0" style="width: 0; min-width: 98% !important; border: none;background-color: white;" height="569"></iframe><script type="text/javascript">!function(){"use strict";window.addEventListener("message",(function(e){if(void 0!==e.data["datawrapper-height"]){var t=document.querySelectorAll("iframe");for(var a in e.data["datawrapper-height"])for(var r=0;r<t.length;r++){if(t[r].contentWindow===e.source)t[r].style.height=e.data["datawrapper-height"][a]+"px"}}}))}();
</script>

</center>
<br>
 
<p><b>Задача 3: тенденция поручений.</b>

В России за прошедшее десятилетие непрерывно снижается количество плановых и внеплановых проверок. Большинство проверок, которые проходят в стране, являются внеплановыми. Такие проверки могут проходить по нескольким правовым основаниям. Динамику доли проверок по одному из таких оснований вы можете наблюдать на предложенном рисунке. Предложите своё объяснение наблюдаемой тенденции.
<p>
</p>
<center>
<a href="/img/2022/task3.png"><img src="/img/2022/task3.png" vspace="20" style='width:98%;' border="0"></a>
</center>
<br>

 

<p><b>Задача 4: смерти в Казахстане.</b>

Выдвинете предположения о причинах скачков линий на графике ниже и аргументированно обоснуйте их.
<p>
</p>
<center>
<a href="/img/2022/task4.png"><img src="/img/2022/task4.png" vspace="20" style='width:98%;' border="0"></a>
</center>
<br>

 
 
<p><b>Задача 5: Grand Theft Auto.</b>

На предложенном графике изображено, как изменялась ситуация с угонами в России за десять лет. Попробуйте объяснить, почему эти два рисунка выглядят именно так.
<p>
</p>
<center>
<a href="/img/2022/task5.png"><img src="/img/2022/task5.png" vspace="20" style='width:98%;' border="0"></a>
</center>
<br>
 

<p><b>Задача 6: динамика освобождения.</b>

На графике ниже представлена доля освобожденных из мест лишения свободы условно-досрочно по сравнению с теми, кто отбыл полный срок (речь идёт о России). Как вы думаете, с чем связана такая динамика по годам? Какие факторы влияют на частоту применения условно-досрочного освобождения?

<p>
</p>
<center>
<a href="/img/2022/task6.png"><img src="/img/2022/task6.png" vspace="20" style='width:98%;' border="0"></a>
</center>
<br>

                <h2 class="section-heading text-center">Как выполнять отборочное задание?</h2>
                <hr class="primary">
<p>Отнеситесь к отборочному заданию как к эссе в свободном формате. Идеальное решение отборочного задания должно быть развёрнутым рассуждением, содержащим интерпретацию (ваше понимание) задания, вашу позицию, аргументацию и вывод. Аргументация не должна строиться исключительно на логических предположениях и отсылках к законодательству, а должна отсылать к существующим исследованиям, подходам и данным, поэтому в вашем ответе должно быть хотя бы несколько ссылок на литературу. Замечательно, если у вас получится рассказать, что по этому поводу уже говорили и писали. Особенно ценно, если вы попробуете самостоятельно найти и проанализировать данные, которые подтвердят вашу позицию. Такими данными может быть криминальная и судебная статистика, результаты опросов общественного мнения или что-то еще.</p>
<p>Как искать существующие исследования? Обычно это делают через библиографические системы, такие, как Google Scholar, Web of Science или JSTOR. Последние две, к сожалению, платные и требуют подписки, которая есть у многих университетов России и мира. Многие полезные статьи с исследованиями и обзорами написаны на английском языке. Читать их может быть сложнее, но зачастую они интереснее и более содержательно насыщенны, чем статьи на русском языке.</p>
<p>Итак, для выполнения отборочного задания нужно выбрать любые две задачи из списка выше, для каждой из них дать развёрнутый ответ, и каждый ответ должен быть размером до 1000 слов. Удачи!</p>

            </div>
        </div>
    </div>
    </div>
</section>
